serviceAccount.json
google-services.json
.env
venv/
__pycache__/

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

android/.gradle/
android/app/build/

ios/Pods/.env
*.env
firebase-adminsdk*.json
serviceAccount.json
